.fetching {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fetching svg{
    animation: rotation 2s infinite linear;
    font-size: 40px;
    color: gray;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}