.socials {
    grid-area: socials;

    & p {
        margin-bottom: 10px;
        font-weight: 600;
    }

    & div {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        column-gap: 10px;
        & svg {
            font-size: 25px;
            color: darkgrey;
        }
    }
}