.buttons {
    grid-area: button;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    column-gap: 20px;

    & .basket {
        font-size: 18px;

        & button {
            font-size: 16px;
            font-weight: 600;
            color: #ffffff;
            background-color: #ff8300;
            border: none;
            outline: none;
            padding: 13px 50px;
            border-radius: 10px;
            cursor: pointer;

            & svg {
                margin-left: 10px;
            }
        }
    }

    & .like {
        & button {
            padding: 13px 15px;
            border: none;
            background: none;
            outline: none;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgb(42 61 72 / 15%);
            cursor: pointer;
        }
    }
}