.delivery {
    grid-area: delivery;

    & p:nth-child(1) {
        margin-bottom: 20px;

        & span {
            color: #783cbd;
            font-weight: 600;
        }
    }
    & p:nth-child(2) {
        & span {
            color: green;
            font-weight: 600;
        }
    }
}