.catalogue {
    display: flex;
    align-items: center;
    grid-area: catalogue;

    & a {
        text-decoration: none;
        margin-right: 20px;

        & h2 {
            color: rgb(120, 60, 189);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 26px;

            & span {
                color: #ff8300;
            }
        }
    }

    & .menu {
        display: flex;
        align-items: center;
        background-color: #783cbd;
        color: #f7f7f7;
        padding: 9px 20px;
        border-radius: 8px;
        cursor: pointer;

        & svg {
            margin-right: 10px;
            color: #f7f7f7;
            font-size: 16px;
        }
    }
}