.slider {
    grid-area: image;
    height: 560px;
    position: relative;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    & button {
        position: absolute;
        top: 45%;
        padding: 10px 14px;
        border: 1px solid darkgrey;
        outline: none;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        &.prev {
            left: -20px;
        }
        &.next {
            right: -20px;
        }

        & svg {
            font-size: 20px;
        }
    }
}
