*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  color: #2a3d48;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  position: relative;
}

.bcg-body {
  background-image: url(./img/product-screen.png);
  position: absolute;
  z-index: 9999;
}

.App {
  font-family: sans-serif;
}

figure {
  margin: 0;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-1200 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.bgWhite {
  background-color: #ffffff;
}
