.wrapper {
    border-bottom: 1px solid #dfe0e1;

    & .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0;

        & .sity {
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
                margin-right: 10px;
            }
        }

        & .phone {
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
                margin-right: 10px;
            }
        }

        & .menu {
            & ul {
                list-style: none;
                display: flex;
                justify-content: flex-end;

                & li:not(:first-child) {
                    margin-left: 30px;
                }
            }
        }
    }
}



@media (max-width: 700px) {
    .box {
        flex-direction: column;

        & div:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 700px) {
    .wrapper {
        .box {
            align-items: stretch;
            & .menu {
                & ul {
                    justify-content: space-between;
                    & li:not(:first-child) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}