.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 37px;
    margin: 0 30px;
    grid-area: search;

    & input {
        width: 100%;
        height: 100%;
        border: 1px solid #dfe0e1;
        border-right: none;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-left: 20px;
        outline: none;
    }

    & button {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        color: #f7f7f7;
        background-color: #783cbd;
        border: 1px solid #783cbd;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        outline: none;
        cursor: pointer;

        & svg {
            margin-right: 7px;
            color: #f7f7f7;
        }
    }
}

@media (max-width: 1000px) {
    .search {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 600px) {
    .search {
        width: 100%;
    }
}